@media(max-width:560px){
  .containerHea{
    /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  }
}

.card:hover{
  background-color: rgb(243, 181, 139);
  width: auto;
  height:auto;
}

/* ----------------------------------------------------------------------------------------------- */
/* Componente CardInfo */
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  place-items: center;
}

.dd_heading{
  text-align: center;
  font-family: roboto thin;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.d_card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (min-width: 600px) {
  .d_card {
    height: 350px;
  }
}
.d_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.d_card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}
.d_card:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1581017601156-b4e8e53df291?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
}
.d_card:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1581014023865-4209099f2b71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80);
}
.d_card:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1448932223592-d1fc686e76ea);
}
.d_card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1580986475035-f0778c60f5ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc5NjV9&auto=format&fit=crop&w=633&q=80);
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.data-content {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
  .d_card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }

  .d_card:hover,
  .d_card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .d_card:hover:before,
  .d_card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .d_card:hover:after,
  .d_card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .d_card:hover .content,
  .d_card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .d_card:hover .content > *:not(.heading),
  .d_card:focus-within .content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .d_card:focus-within:before,
  .d_card:focus-within:after,
  .d_card:focus-within .content,
  .d_card:focus-within .content > *:not(.heading) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}


/* ----------------------------------------------------------------------------------------------- */
/* Card de componente banner */
.containerBanner
{
  max-width: 100%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cardBanner
{
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 20px rgba(0,0,0,.5);
  transition: 1s;
}
.cardBanner:hover
{
  z-index: 10000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.cardBanner .Box
{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  transform-origin: left;
  z-index: 1;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
  background: #111;
}
.cardBanner .Box img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardBanner:hover .Box
{
  transform: rotateY(-135deg);
}
.cardBanner .details
{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: -1;
}

/* --------------------------------------------------------------------------------------------- */
/* card para profesores de inicio */
* {
  font-family: arial;
}

.contenedor-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contenedor-cards .contenedor-card-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 25%;
	margin: 1%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	cursor: help;
}

.contenedor-cards .contenedor-card-item:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

.contenedor-card-item-wrapper {
	overflow: hidden;
	position: relative !important;
	/* background: #3E2723; */
	border-radius: 5px;
}

.contenedor-card-item img {
	max-width: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	border-radius: 5px;
}

.contenedor-card-item .contenedor-info {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: -70px;
	-webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.contenedor-card-item .contenedor-info .info {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
  margin: 0;
  font-size: 20px;
}

.contenedor-card-item .contenedor-info .info .categoria {
	display: block;
	font-size: 10px;
}

.contenedor-card-item:hover .contenedor-info {
	bottom: 0;
}

.contenedor-card-item:hover img {
	top: -30px;
	-webkit-transform: rotate(-5deg) scale(2);
	-ms-transform: rotate(-5deg) scale(2);
	-o-transform: rotate(-5deg) scale(2);
	transform: rotate(-5deg) scale(2);
}

@media screen and (max-width: 900px) {
	.contenedor-card-item:hover img {
    top: -30px;
    -webkit-transform: rotate(-5deg) scale(1.3);
    -ms-transform: rotate(-5deg) scale(1.3);
    -o-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3);
  }

	.contenedor-card-item .contenedor-info {
		bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	.contenedor {
		width: 95%;
	}

	.contenedor-cards .contenedor-card-item {
		width: 48%;
		margin: 1%;
	}
}

@media screen and (max-width: 550px) {
  .contenedor-cards .contenedor-card-item {
    width: 60%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
	.contenedor {
		width: 90%;
	}
  
  .contenedor-cards .contenedor-card-item {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
	.contenedor {
		width: 100%;
	}
}


/* -------------------------------------------------------------------------------------------------- */
/* Card para perfil alumno */
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, serif;
  background-size: cover;
}

header img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 100px;
  border: 5px solid #fff;
}

aside {
  border-top: 0px solid #26A69A;
  border-bottom: 0px solid #00695C;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  height: 250px;
  width: 250px;
  background: url(https://s-media-cache-ak0.pinimg.com/736x/3a/1f/02/3a1f02c10700daa80655a302c5a27acf.jpg);
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 100px 10px #fff;
  transition: all ease 0.3s;
}

aside:hover {
  border-top: 4px solid #26A69A;
  border-bottom: 4px solid #00695C;
  border-radius: 5px;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 70px 10px #fff;
}

aside:hover header img {
  animation: profile_image 2000ms linear both;
  animation-delay: 0.5s;
}

header {
  text-align: center;
}

header h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.250s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

aside:hover header h1 {
  margin-top: 0px;
  outline: 0 solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff;
}

header h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.profile-bio {
  /* margin-top: 20px; */
  /* padding: 1px 20px 10px 20px !important; */
  transition: all linear 1.5s;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 49%, rgba(0, 0, 0, 0.61) 100%);
}

aside:hover .profile-bio {
  opacity: 1;
}

.profile-bio p:first-child {
  text-align: center;
  font-size: 16px;
}

.profile-social-links {
  display: flex;
  position: relative;
  margin-top: -150px;
  margin-left: -100px;
  list-style-type: none;
  opacity: 0;
  transition: all ease 0.5s;
}

aside:hover .profile-social-links {
  margin-left: -30px;
  opacity: 1;
}

.profile-social-links li img {
  width: 30px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}
/*PROFILE IMAGE ANIMATE */

@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/*NAME ANIMATE */

aside:hover header h1 {
  animation: name_and_job 1500ms linear both;
  animation-delay: 0.4s;
}

@keyframes name_and_job {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
  }
  2.55% {
    transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
  }
  4.1% {
    transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  5.71% {
    transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
  }
  8.11% {
    transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  8.81% {
    transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
  }
  16.12% {
    transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

aside:hover ul li:first-child {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 0.75s;
}

aside:hover ul li:nth-child(2) {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 1s;
}

aside:hover ul li:nth-child(3) {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 1.25s;
}

@keyframes social_animation {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
  }
  2.55% {
    transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
  }
  4.1% {
    transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  5.71% {
    transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
  }
  8.11% {
    transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  8.81% {
    transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
  }
  16.12% {
    transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}


/* --------------------------------------------------------------------------------------------------- */
/* Efecto para card de profesores */

.profile-cart {
  width: 300px;
  min-height: 300px;
  box-shadow: 0 0 5px 1px rgba(52, 52, 52, 0.224);
  position: relative;
  border-radius: 20px;
  transition: 2s;

}

.profile-cart:hover {
  box-shadow: 0 0 15px 1px rgba(52, 52, 52, 0.25)
}

.profile-cart::after {
  content: " ";
  background-image: linear-gradient(135deg, #FFF720 10%, #3CD500 100%);
  clip-path: circle(50% at 50% 1%);
  display: block;
  min-height: 350px;
  transition: 2s;
  border-radius: 20px;
}

.profile-cart:hover::after {
  content: " ";
  clip-path: circle(100% at 50% 170%);
  transition: 2s;
  display: block;
  min-height: 350px;
  transition: 2s;
  border-radius: 20px;

}


.imgProf {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  top: 78px;
  left: 37%;
  z-index: 99999999;
  transition: 2s;
  border-radius: 100%;
}

.profile-cart:hover .imgProf {
  transform: scale(1.3) translateY(20px);
  transition: 2s;

}

h1 {
  z-index: 999;
  /* position: absolute; */
  justify-content: center;
  display: flex;
  width: 100%;
  font-family: "poppins bold";
  color: rgba(30, 29, 29, 0.85);
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px rgba(37, 37, 37, 0.421);
}

p {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  text-align: center;
  top: 50%;
  font-family: "poppins";
  font-weight: 500;
  margin: 0 20px;
  color: rgba(30, 29, 29, 0.85);
  text-shadow: 1.5px 1.5px 0px rgba(37, 37, 37, 0.306);
}
p:hover{
  background: #fff;
}
.social-area {
  position: absolute;
  bottom: 30px;
  z-index: 999;
  justify-content: center;
  display: flex;
  width: 100%;
}

.social-area a {
  color: rgba(30, 29, 29, 0.85);
}

.social-area svg {
  margin: 20px 20px 0 20px;
  font-size: 25px;
  transition: 4s;
}

.profile-cart:hover .social-area svg {
  color: white;
  transition: 1s;
}

.profile-cart .social-area svg:hover {
  transform: scale(1.5);
}


/* ------------------------------------------------------------------------------------------------ */
/* Input del header icono buscar */
.inputbox {
  height: 30px;
  width: 200px;
  position: absolute;
  top: 22%;
  right:-50px;
  -webkit-transform: translate(-50%, -50%) scale(.72);
      -ms-transform: translate(-50%, -50%) scale(.72);
          transform: translate(-50%, -50%) scale(.72);
}
.inputbox input {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  font-size: 16px;
  padding: 16.5px 0;
  border: 0;
  background: none;
  width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 100%;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
          transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0s, 0.4s, 0s;
          transition-delay: 0s, 0.4s, 0s;
  box-shadow: 0 0 0 1px currentColor;
  color: #fff;
  cursor: pointer;
  padding: 16.5px 0;
  padding-right: 50px;
  font-weight: lighter;
  font-family: 'Roboto';
}
.inputbox input:focus, .inputbox input:valid {
  width: 100%;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
          transition-delay: 0.4s, 0s, 0.4s;
  outline: 0;
  border-radius: 0;
  cursor: text;
  padding-left: 16.5px;
}
.inputbox input:focus + .del, .inputbox input:valid + .del {
  pointer-events: all;
  left: calc(100% - 25px);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.inputbox input:focus + .del:focus, .inputbox input:valid + .del:focus {
  box-shadow: 0 0 0 1px currentColor;
  height: 37.5px;
  width: 37.5px;
}
.inputbox input:focus + .del:before, .inputbox input:valid + .del:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
      -ms-transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
          transform: translate(-50%, -50%) rotate(-45deg) scaleY(0.7);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.inputbox input:focus + .del:after, .inputbox input:valid + .del:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0.7);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.inputbox .del {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  padding: 0;
  background: none;
  border-radius: 100%;
  border: 0;
  pointer-events: none;
  -webkit-transition: left 0.4s ease-in-out;
          transition: left 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  color: #fff;
  cursor: pointer;
}
.inputbox .del:focus {
  outline: none;
}
.inputbox .del:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  width: 1px;
  height: 37.5px;
  -webkit-transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
      -ms-transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
          transform: translate(32.25px, 32.25px) translate(-50%, -50%) rotate(-45deg) scaleY(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.inputbox .del:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  width: 1px;
  height: 37.5px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
      -ms-transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
          transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media (max-width:1000px){
  
  .inputbox{top:10%; right:-185px;}
}



/* ------------------------------------------------------------------------------------------ */
/* header navbar */

.containerHea
{
    font-family: Raleway;
    margin: auto;
    width: auto;
  	padding: 5px;
    display: flex;
    flex-direction: row;
   	flex-wrap: wrap;
}

.containerHea a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Raleway;
    margin: 0px 10px;
    padding: 5px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.green
{
    background: #4caf50;
}


/* Border X get width  */
div.borderXwidth a:before, div.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: auto;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderXwidth a:before
{
    left: 0px;
    top: 0px;
}

div.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
}

div.borderXwidth a:hover:before, div.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}

/* Pull down  */
div.pullDown a:before
{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

div.pullDown a:hover:before
{
    height: 100%;
}

/* boton desplegable con efecto hover */
ul {
	list-style:none;
}	
 li {
  list-style:none;
	/* float:bottom; */
}			
 li .ak {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
	display:block;
}	
 li .ak:hover {
	background-color:#334333;
}
			
 li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
 li:hover > ul {
	display:block;
}
 li ul li {
	position:relative;
}
 li ul li ul {
	right:-140px;
	top:0px;
}		


/* ---------------------------------------------------------------------- */
/* Efecto Parallax */

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.bodyParallax{
	color:rgb(100,100,100);
	font-family: 'Poiret One', cursive, helvetica;
	font-size:100%;
}

.pParallax{
	font-size: 1.4rem;
	margin:0 0 24px 0
}


.parallax, .mainParallax, .texto{margin:0 auto}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:50rem;
	max-width: 100%;
	position: relative
}

.texto-interior{
	color:#fff;
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}
	
.img-uno{background-image: url('https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzZ8fGVkdWNhdGlvbnxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60')}

.img-dos{background-image:url("https://images.unsplash.com/photo-1599652292429-3dc38b19228f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80")}

.img-tres{background-image:url("https://images.unsplash.com/photo-1452830978618-d6feae7d0ffa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OTN8fGVkdWNhdGlvbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")}


.texto{
	padding:5%;
	width: 90%
}

/* --------------------------------------------------------------------------------- */
/* Quienes somos */

.body-qs {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: #fff;
  font-family: "DM Mono", monospace;
}
.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}
@media (max-width:768 px){
  .card-list{
    display: flex;
    flex-wrap: wrap;
  }
}

.card-qs {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background-color: #17141d;
  border-radius: 9px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card-qs:hover {
  cursor: pointer;
  transform: translateY(-1rem);
}
.card-qs:hover ~ .card-qs {
  transform: translateX(130px);
}
.card-qs:not(:first-child) {
  margin-left: -130px;
}

.card-author {
  position: relative; 
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
  align-items: flex-end;
}
.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
  overflow: hidden;
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.card-header h3:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-justify: auto;
}


/* --------------------------------------------------------------------------------- */
/* Dashboard */

.a-dash {
  color: white;
  text-decoration: none;
}

@media (max-width:768 px){
.container-dash{
  display: block;
}
}

.social-dash {
  position: fixed;
  top: 50px;
  background-image: url(https://images.unsplash.com/photo-1593642532973-d31b6557fa68?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8Nnw3OTU1NDE2Nnx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 350px;
}
@media (max-width:768 px){
  .social-dash{
    position:none;
    background-image: none;
  }
}

.social-dash .ul-dash {
  /* padding: 10px; */
  transform: translate(-270px,0);
}

.social-dash .ul-dash .li-dash {
  display: block;
  margin: 20px;
  background: rgba(200, 158, 172, 0.5);
  width: 320px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1.5s;
}

.social-dash .ul-dash .li-dash:hover {
  transform: translate(110px,0);
  background: #4ac45e;
  transition: all 1.5s;
}

.social-dash .ul-dash .li-dash:hover .a-dash {
  color: white;
}

.social-dash .ul-dash .li-dash:hover i{
  color: #c44a73;
  background: white;
  transform: rotate(360deg);
  transition: all 1.5s;
}

.social-dash .ul-dash .li-dash i {
  margin-left: 10px;
  color: #000;
  background: white;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  text-align: center;
  font-size: 20px;
}

/* ----------------------------------------------------------------------- */
/* Tabla del  dashboard */

.section1 {
  background: rgb(38,180,143);
background: linear-gradient(45deg, rgba(38,180,143,1) 24%, rgba(36,176,139,1) 38%, rgba(20,144,112,1) 60%, rgba(9,121,92,1) 77%, rgba(9,121,92,1) 80%, rgba(9,121,92,1) 90%, rgba(9,121,92,1) 90%);
}

.section3 {
  background: rgb(38,180,143);
background: linear-gradient(45deg, rgba(38,180,143,1) 24%, rgba(36,176,139,1) 38%, rgba(20,144,112,1) 60%, rgba(9,121,92,1) 77%, rgba(9,121,92,1) 80%, rgba(9,121,92,1) 90%, rgba(9,121,92,1) 90%);
}

thead{
  background-color: black;
  color: bisque;
}

tr:hover{
  background-color: rgb(166, 253, 166);
}
th:hover{
  background-color: black;
  color: bisque;
}

/* ------------------------------------------------------------------------------------------------- */
/* pagina error 404 */

#baslik{
  font-family: 'Lobster', cursive;
  font-size:25px;
  margin-top:30px;
  cursor:default;
}
.ikon{
  margin:auto;
  width:70px;
  margin-left:19px;
  border-radius:50%;
  margin-top:80px;
  transition-property:padding, width, background-color;
  transition-duration:0.4s;
}
.ikon:hover{
  background-color:white;
  width:60px;
  padding:5px;
}

.icerik{
	color:white;
}
.anaDiv{
	width:600px;
	height:320px;
	margin:auto;
	margin-top:150px;
	/* background-color:#333; */
	text-align: center;
	overflow: hidden;
	border-radius: 50px;
	transition-property: transform;
	transition-duration: 0.8s;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
}
.kapak{
  margin:0px;
	width:100%;
	height:450px;
	background-color:white;
	position: relative;
	bottom: 240px;
	transition-property: transform;
	transition-duration: 0.8s;
	overflow: hidden;
	background-image: url("https://png.pngtree.com/png-vector/20200313/ourlarge/pngtree-page-not-found-error-404-concept-with-people-trying-to-fix-png-image_2157908.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.anaDiv:hover .kapak{
	transform: translate(-600px);
}

/* ------------------------------------------------------------------------------- */
